{
    "branch": "master",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "echo `##vso[task.setvariable variable=nextVersion]${nextRelease.version}",
                "publishCmd": "dotnet nuget push **\\Sandbox*.nupkg -k ${process.env.NUGET_TOKEN} -s https://api.nuget.org/v3/index.json",
            }
        ],
    ]
}
