{
    "branch": "master",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "echo `##vso[task.setvariable variable=nextVersion]${nextRelease.version}",
                "publishCmd": "nuget push ${process.env.BUILD_ARTIFACTSDIRECTORY}\SandboxLibrarySample.${nextRelease.version}.nupkg -k ${process.env.NUGET_TOKEN} -Source https://api.nuget.org/v3/index.json",
            }
        ],
    ]
}
